@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
  background-color: #1A1A1A;
  color: #FFFFFF;
}

@layer utilities {
  .text-primary {
    color: #FFFFFF;
  }
  
  .text-secondary {
    color: #EEEEEE;
  }
  
  .bg-primary {
    background-color: #1A1A1A;
  }
  
  .bg-button-primary {
    background-color: #EF4444;
  }
  
  .bg-button-secondary {
    background-color: #1A1A1A;
  }
  
  .border-button {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
  }
}

/* Ensure select and option elements have proper styling */
select {
  color: #FFFFFF;
  background-color: #1A1A1A;
}

select option {
  color: #FFFFFF;
  background-color: #1A1A1A;
}
